@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway' , sans-serif;
    src: url(/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oleo Script' , sans-serif;
    src: url(/fonts/OleoScript-Regular.ttf) format('treutype');
}

.link{
    list-style: none;
    text-decoration: none;  
  }
  
  .header{
     
  
  background: #FFFFFF;
  }


  
  .logo-link{
    

    text-decoration: none;



    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3
    
    
    
    
    }
    
    .logo-header{
      text-decoration: none;
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
    }
  
  .linke{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
    



      
  
  }
  
  .links{
    
    text-decoration: none;
  
  
  font-family: 'Roboto', sans-serif;
     
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: #2196F3;
      
  }
  
  .linka{
      
    text-decoration: none;
  font-family: 'Roboto', sans-serif;
      
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  
  color: var(black)
  }
  
  .num{
      list-style: none;
      
  }
  
  .number{
      
  
      font-family: 'Roboto', sans-serif;
      
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: var(gray);
      
  }
  .mail{
      
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--bran-color,blue);
      
      
  }




  .buton{
      list-style: none;
      
  }
  
  .wis{
     
    
    
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
   
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(white);
  
   
    font-family: 'Roboto', sans-serif;
    
    
    cursor: pointer;
    
  }
  
  
  .web{
     
  
  background: #F5F4FA;
  border-radius: 4px;
  
 
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .wet{
      
      
      background: #F5F4FA;
      border-radius: 4px; 
  
      
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .diz{
    cursor: pointer;
      
  
  background: #F5F4FA;
  border-radius: 4px;
  
  
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  
  }
  
  .market{
    cursor: pointer;
     
  
  background: #F5F4FA;
  border-radius: 4p;
  
  
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-family: inherit;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  
  }
  
  .img{
      list-style: none;
  }
  
  .teh {
     
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .tehno {
    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 18px;
line-height: 2;


letter-spacing: 0.06em;

color: #212121;


}
.webs {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    
}

  .poster {
     
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }

  .pos {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    
    
}
.dis {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    
}
  .rest {
      
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .resto {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    
}
.add {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    
}

  .project {
      
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .prime {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.mark {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}
  .box {
     
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .boxes {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.addi {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}
  .insp {
     
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .inspi {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.web-sa {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}
  .limit {
     
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .limi {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.diza {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}

  .lab {
     
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .proj {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.mar {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}
  
  .busin{
      
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .growing {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;

}
.addit {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;

}
  
  
  .secti {
     
  
  background: #2F303A;
  }
  .logo-lin{
    

    text-decoration: none;



    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3
    
    
    
    
    }
    
    .logo-heade{
      text-decoration: none;
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
    }

.foot{
    list-style: none;
}

  .street {
    text-decoration: none;
  
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  }
  .mailt{
     
    text-decoration: none;
  
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  }
  .numb {
      
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  }