@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway' , sans-serif;
    src: url(/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oleo Script' , sans-serif;
    src: url(/fonts/OleoScript-Regular.ttf) format('treutype');
}
.link{
list-style: none;

}

.header{
    

background: #FFFFFF;
}

.logo-link{
    

    



font-family: 'Raleway' , sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

color: #2196F3




}

.logo-header{
   
    font-family: 'Oleo Script' , sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
}

.linke{
    
    
    font-family: 'Roboto', sans-serif;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    
direction: none;

}

.links{
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;


}

.linka{
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;


}

.lin{
    list-style: none;

}

.number{
  
    font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
}
.mail{
   

    font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.main{
    

background: #2F303A;
}

h1{

    font-family: 'Roboto', sans-serif;

   
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
   
    
   


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.button{
   cursor: pointer;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

  

    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
line-height: 30px;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}


.war{
  
    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.idie{
   

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color: #757575;

}

.pin{
    
    font-family: 'Roboto', sans-serif;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
     
}

.organi{
  

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color: #757575;
}

.plan{

    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
    
color: #212121;
    
}

.consul{
 

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.tehnol{

    
    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
 line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;    
}

.problem{
   
    font-family: 'Roboto', sans-serif;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}

.win{

    font-family: 'Roboto', sans-serif;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121; 
}

.img{
    list-style: none;
}

.program{
 
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}

.programa 

.ipad

.section{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
    
    background: #F5F4FA;
}

.comand{
   

    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.h3{
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;

}

.igo{
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
      
}

.prodec {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}
.Igor{

   
    
    background: #FFFFFF;
    
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.Olga{
    
    
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}

.olg {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.front {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}

.Mikola{
   

    

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.mikol {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.mark {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
}

.Mihaulo{
   
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}

.mihaul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}
.ui {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;

}

.team{
    list-style: none;
    

 
}

.logo-link{
    

    



    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3
    
    
    
    
    }
    
    .logo-header{
       
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
    }

.maine{
  

background: #2F303A;
}

.street{
   
  

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.tel{
    

font-family: 'Roboto';

font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.gmail{
  

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}








.link{
    list-style: none;  
  }
  
  .header{
      position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  
  background: #FFFFFF;
  }


  
  .logo-link{
    

    



    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3
    
    
    
    
    }
    
    .logo-header{
       
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
    }
  
  .linke{
    font-family: 'Roboto', sans-serif;
      position: absolute;
      width: 45px;
      height: 16px;
      left: 453px;
      top: 32px;
  
      font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
letter-spacing: 0.02em;
text-align: left;

      
      color: #2196F3;

      
  
  }
  
  .links{
      position: absolute;
      width: 72px;
  height: 16px;
  left: 548px;
  top: 32px;
  
  
  
  font-family: 'Roboto', sans-serif;
     
      font-weight: 500;
      font-size: 14px;
      line-height: 16.41px;
      letter-spacing: 0.02em;
      
      color: #212121;
      
  }
  
  .linka{
      position: absolute;
      width: 64px;
  height: 16px;
  left: 670px;
  top: 32px;
  
  font-family: 'Roboto', sans-serif;
      
      font-weight: 500;
      font-size: 14px;
      line-height: 16.41px;
      letter-spacing: 0.02em;
      
      color: #212121;
  }
  
  .num{
      list-style: none;
  }
  
  .number{
      position: absolute;
      width: 122px;
      height: 16px;
      left: 1263px;
      top: 32px;
  
      font-family: 'Roboto', sans-serif;
      
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      
      color: #757575;
      
  }
  .mail{
      position: absolute;
      width: 135px;
      height: 16px;
      left: 1078px;
      top: 32px;
  
      font-family: 'Roboto', sans-serif;
  
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      
      color: #757575;
  }
  .buton{
      list-style: none;
      
  }
  
  .wis{
     
  
 
  
  
   
    font-family: 'Roboto', sans-serif;
    
    
    cursor: pointer;
    
  }
  
  
  .web{
      position: absolute;
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
  
  background: #F5F4FA;
  border-radius: 4px;
  
  position: absolute;
  width: 81px;
  height: 26px;
  left: 615px;
  top: 180px;
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .wet{
      position: absolute;
      width: 112px;
      height: 38px;
      left: 726px;
      top: 174px;
      
      background: #F5F4FA;
      border-radius: 4px; 
  
      position: absolute;
  width: 68px;
  height: 26px;
  left: 748px;
  top: 180px;
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .diz{
      position: absolute;
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
  
  background: #F5F4FA;
  border-radius: 4px;
  
  position: absolute;
  width: 59px;
  height: 26px;
  left: 868px;
  top: 180px;
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .market{
      position: absolute;
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
  
  background: #F5F4FA;
  border-radius: 4px;
  
  position: absolute;
  width: 86px;
  height: 26px;
  left: 979px;
  top: 180px;
  
  font-family: 'Roboto', sans-serif;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  cursor: pointer;
  }
  
  .img{
      list-style: none;
  }
  
  .teh {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .tehno {
    font-family: 'Roboto';

font-weight: 700;
font-size: 18px;
line-height: 36px;


letter-spacing: 0.06em;

color: #212121;


}
.webs {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

  .poster {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }

  .pos {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    
    
}
.dis {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    
}
  .rest {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .resto {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    
}
.add {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

  .project {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .prime {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.mark {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}
  .box {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .boxes {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.addi {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}
  .insp {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .inspi {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.web-sa {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}
  .limit {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .limi {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.diza {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}

  .lab {
      position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .proj {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.mar {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}
  
  .busin{
      position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;
  
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  }
  .growing {
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

}
.addit {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

}
  
  
  .secti {
      position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  
  background: #2F303A;
  }
  .logo-link{
    

    



    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3
    
    
    
    
    }
    
    .logo-header{
       
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
    }
  .street {
     
  
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  }
  .mailt{
     
    font-style: normal;
  
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  }
  .numb {
      
  
    font-family: 'Roboto', sans-serif;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  }