@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway' , sans-serif;
    src: url(/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oleo Script' , sans-serif;
    src: url(/fonts/OleoScript-Regular.ttf) format('treutype');
}

.link{
    text-decoration: none;
    list-style: none;
}



.header{
    

background: #FFFFFF;
}

.logo-link{
    

    text-decoration: none;



font-family: 'Raleway' , sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;

color: #2196F3




}

.logo-header{
   
    font-family: 'Oleo Script' , sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
}

.linke{
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    
direction: none;

}

.links{
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;

}

.linka{
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;

}

.lin{
    list-style: none;

}

.number{
  
    font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
}
.mail{
   

    font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #2196F3;

}

.section{
    

background: #2F303A;
}

h1{

    font-family: 'Roboto', sans-serif;

   
    
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   
    
   


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.button{
   cursor: pointer;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

  

    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
line-height: 2.14;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}

.list{
    list-style: none;
}


.war{
  
    font-family: 'Roboto', sans-serif;
list-style: none;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.idie{
   

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: #757575;

}

.pin{
    list-style: none;
    font-family: 'Roboto', sans-serif;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
     
}

.organi{
  

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: #757575;
}

.plan{
    list-style: none;
    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
    
color: #212121;
    
}

.consul{
 

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.tehnol{

    list-style: none;
    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 14px;
 line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;    
}

.problem{
   
    font-family: 'Roboto', sans-serif;
    
   
    
    letter-spacing: 0.03em;
    
    color: #757575;
}

.win{

    font-family: 'Roboto', sans-serif;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121; 
}

.img{
    list-style: none;
}

.program{
 
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}

.programa 

.ipad

.section{
    
    
    background: #F5F4FA;
}

.comand{
   

    font-family: 'Roboto', sans-serif;

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.h3{
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;

}

.igo{
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
      
}

.prodec {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}
.Igor{

   
    
    background: #FFFFFF;
    
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.Olga{
    
    
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}

.olg {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}
.front {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}

.Mikola{
   

    

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.mikol {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}
.mark {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}

.Mihaulo{
   
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}

.mihaul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}
.ui {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;

}

.team{
    list-style: none;
    

 
}

.logo-lin{
    text-decoration: none;
    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    
    color: #2196F3

    
    
    
    
    }
    
    .logo-heade{
        text-decoration: none;
        font-family: 'Oleo Script' , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
    }

.maine{
  
list-style: none;
background: #2F303A;
}

.street{
   
    text-decoration: none;

    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.tel{
    
    text-decoration: none;
font-family: 'Roboto';

font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.gmail{
  
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}
